
.errorSubmit { 
    width: 15%; 
    height: auto; 
    aspect-ratio: 10/4;
    background-color: #e0e0e0;
    color: #a6a6a6; 
    border: none;
    outline: none;
    border-radius: 10% 10% 10% 10%;
    font-size: large; 
    font-weight: 400;
} 

.submit {
    width: 15%; 
    height: auto; 
    aspect-ratio: 10/4;
    background-color: #3f50b5;
    color: white;  
    border: none;
    outline: none;
    border-radius: 10% 10% 10% 10%;
    font-size: large; 
    font-weight: 400;
}