<div class="container-fluid">
    <div class="row">
        <div class="col-md-11 systemTitle">
            Task Management System
        </div>
        <div class="col-md-1">
            <p class="logout" (click)="logout()">Log out</p>
        </div> 
    </div>
    <br>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="box">
                <div class="upperBox">
                    <p class="tableTitle">Task Details</p>
                    <button (click)="openAddDialog()" class="addTaskButton">Add Task</button>
                </div> 
                <div class="row">
                    <div class="col-md-1 smallBox">
                        <p>Show</p>
                        <select name="selectedEntry" [(ngModel)]="selectedEntry" (change)="changeEntrySize()">
                            <option *ngFor="let entry of entries" [value]="entry">
                                {{entry}}
                            </option>
                        </select>
                        <p>entries</p>
                    </div> 
                    <div class="col-md-2 offset-7 smallBox">
                        <p>Order By: </p>
                        <select name="selectedEntry" [(ngModel)]="selectedOrder" (change)="sortTable()">
                            <option *ngFor="let order of orders" [value]="order">
                                {{order}}
                            </option>
                        </select> 
                        <p>Decending </p>
                        <input type="checkbox" [(ngModel)]="decend" (change)="reverseTable()"> 
                    </div>
                    <div class="col-md-2 smallBox">
                        <p>Search </p> 
                        <input type="text" [(ngModel)]="search" placeholder="Search" (change)="searchTable()">
                    </div>
                </div>
                
                <div class="mat-evaluation-z8">
                    <table mat-table [dataSource]="dataSource">
                        <!--No. Column-->
                        <ng-container matColumnDef="Id">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
                        </ng-container>
                        <!--Quote Type Column-->
                        <ng-container matColumnDef="QuoteType">
                            <th mat-header-cell *matHeaderCellDef> Quote Type </th>
                            <td mat-cell *matCellDef="let element"> {{ element.quoteType.name }} </td>
                        </ng-container>
                        <!--Description Column-->
                        <ng-container matColumnDef="Description">
                            <th mat-header-cell *matHeaderCellDef> Description </th>
                            <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
                        </ng-container>
                        <!--Sales Column-->
                        <ng-container matColumnDef="Sales">
                            <th mat-header-cell *matHeaderCellDef> Sales </th>
                            <td mat-cell *matCellDef="let element"> {{ element.sales }} </td>
                        </ng-container>
                        <!--Due Date Column-->
                        <ng-container matColumnDef="DueDate">
                            <th mat-header-cell *matHeaderCellDef> Due Date </th>
                            <td mat-cell *matCellDef="let element"> {{ element.dueDate | date: 'yyyy/MM/dd'}} </td>
                        </ng-container>
                        <!--Premium Column-->
                        <ng-container matColumnDef="Premium">
                            <th mat-header-cell *matHeaderCellDef> Premium </th>
                            <td mat-cell *matCellDef="let element"> {{ element.premium | premium }} </td>
                        </ng-container>
                        <!--Operation Column-->
                        <ng-container matColumnDef="Operations">
                            <th mat-header-cell *matHeaderCellDef> Operations </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon (click)="viewQuoteDetail(element.id)">visibility</mat-icon>
                                <mat-icon (click)="openUpdateDialog(element.id)">edit</mat-icon>
                                <mat-icon (click)="openDeleteDialog(element.id)">delete</mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
        
                        <mat-paginator  [hidePageSize]="true"
                                    [pageSize]="selectedEntry"
                                    showFirstLastButtons 
                                    aria-label="Select page of periodic elements">

                        </mat-paginator>
                    
                </div>
            </div>
        </div>
    </div>
</div>
