.mdc-dialog__actions {
    float: right;
}

.box {
    display: flex; 
    justify-content: space-between; 
    padding: 10%; 
    color: white; 
    font-size: 120%;
    background-color: #3f50b5;
} 

.button {
    background-color: #3f50b5; 
    color: white;
    font-size: 120%; 
    outline: none; 
    border: none;
}